﻿
<div id="sidetoggle">
  <div>
    <div class="sidefilter">
      <form class="toc-filter">
        <span class="glyphicon glyphicon-filter filter-icon"></span>
        <span class="glyphicon glyphicon-remove clear-icon" id="toc_filter_clear"></span>
        <input type="text" id="toc_filter_input" placeholder="Enter here to filter..." onkeypress="if(event.keyCode==13) {return false;}">
      </form>
    </div>
    <div class="sidetoc">
      <div class="toc" id="toc">
          
          <ul class="nav level1">
                <li>
                    <span class="expand-stub"></span>
                    <a>Using max.ds</a>
                    
                    <ul class="nav level2">
                          <li>
                              <span class="expand-stub"></span>
                              <a href="GettingStarted.html" name="" title="Getting Started">Getting Started</a>
                              
                              <ul class="nav level3">
                                    <li>
                                        <a href="Installation.html" name="" title="Installation">Installation</a>
                                    </li>
                              </ul>
                          </li>
                          <li>
                              <a href="DataStructures.html" name="" title="Data Structures">Data Structures</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <a href="../api/max.ds.html" name="../api/toc.html" title="Api Documentation">Api Documentation</a>
                </li>
          </ul>
      </div>
    </div>
  </div>
</div>